* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("databg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome {
    font-size: 50px;
    color: aliceblue;
}

.main-box {
    padding: 20px 10px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
    margin: auto;
    height: 250px;
    width: 350px;
    text-align: center;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-box {
    background-color: rgb(145, 189, 227);
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px #9e8f8f;
}

.login-box a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.login-box:hover {
    background-color: rgb(126, 193, 192);
}


.register-box {
    background-color: rgb(145, 189, 227);
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px #9e8f8f;
}

.register-box a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

.register-box:hover {
    background-color: rgb(126, 193, 192);
}

.login-form {
    padding: 20px 10px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
    margin: auto;
    height: 300px;
    width: 350px;
    text-align: center;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);

}

.font-login {
    color: aliceblue;
    padding: 20px;
}

.username-box input {
    width: 300px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.login-button {
    width: 200px;
    padding: 9px;
    border-radius: 10px;
    background-color: rgb(96, 155, 207);
}

.login-button:hover {
    background-color: rgb(34, 117, 218);
}

.nav-register a {
    color: aliceblue;
    padding: 5px;
    width: 300px;
    align-items: center;
    border-radius: 10px;
}

a:hover {
    color: rgb(123, 167, 206);
}

.register-form {
    padding: 20px 10px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
    margin: auto;
    height: 400px;
    width: 350px;
    text-align: center;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

.font-register {
    color: aliceblue;
    padding: 20px;
}